<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}"
>
<head>
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css}">
    <!-- END: Vendor CSS-->
</head>
<body class="horizontal-layout horizontal-menu  navbar-floating footer-static  " data-open="hover" data-menu="horizontal-menu" data-col="">






    <!-- BEGIN: Content-->
    <div layout:fragment="content" class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Maintenance</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a th:href="@{/maintenance}">Maintenance</a>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
                    <div class="mb-1 breadcrumb-right">
                        <div class="dropdown">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="grid"></i></button>
                            <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="app-todo.html"><i class="me-1" data-feather="check-square"></i><span class="align-middle">Todo</span></a><a class="dropdown-item" href="app-chat.html"><i class="me-1" data-feather="message-square"></i><span class="align-middle">Chat</span></a><a class="dropdown-item" href="app-email.html"><i class="me-1" data-feather="mail"></i><span class="align-middle">Email</span></a><a class="dropdown-item" href="app-calendar.html"><i class="me-1" data-feather="calendar"></i><span class="align-middle">Calendar</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="table-responsive">
                    <table class="table besoin-table">
                        <thead>
                        <tr>
                            <th>Type de ressource</th>
                            <th>Fournisseur</th>
                            <th>membre de departement</th>
                            <th>details de ressource</th>
                            <th>details du panne</th>
                            <th>Garantie</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pc:${PCs}">
                            <td>Ordinateur</td>
                            <td>
                                <button type="button" data-bs-html="true" class="ressource-detailes btn btn-sm  hide-arrow py-0 waves-effect waves-float waves-light" >
                                    <div class="icon-wrapper text-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    </div>
                                </button>
                                <div class="d-none details">
                                    <span th:text="${'gerant: '+pc.ressource.fournisseur.gerant}"></span>
                                    <br>
                                    <span th:text="${'societe: '+pc.ressource.fournisseur.societe}"></span>
                                    <br>
                                    <span th:text="${'lieu: '+pc.ressource.fournisseur.lieu}"></span>
                                    <br>
                                    <span th:text="${'email: '+pc.ressource.fournisseur.compte.email}"></span>
                                    <br>
                                    <span th:text="${'tel: '+pc.ressource.fournisseur.tele}"></span>
                                </div>
                            </td>
                            <td>
                                <button type="button" data-bs-html="true" class="ressource-detailes btn btn-sm  hide-arrow py-0 waves-effect waves-float waves-light" >
                                    <div class="icon-wrapper text-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    </div>
                                </button>
                                <div class="d-none details">
                                    <span th:text="${'CIN: '+pc.membre_departement.cin}"></span>
                                    <br>
                                    <span th:text="${'nom: '+pc.membre_departement.nom}"></span>
                                    <br>
                                    <span th:text="${'prenom: '+pc.membre_departement.prenom}"></span>
                                    <br>
                                    <span th:text="${'email: '+pc.membre_departement.compte.email}"></span>
                                </div>
                            </td>
                            <td>
                                <button type="button" data-bs-html="true" class="ressource-detailes btn btn-sm  hide-arrow py-0 waves-effect waves-float waves-light" >
                                    <div class="icon-wrapper text-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                                    </div>
                                </button>
                                <div class="d-none details">
                                    <span th:text="${'Marque: '+ ordinateur.get(pc.id).marque}"></span>
                                    <br>
                                    <span th:text="${'CPU: '+ ordinateur.get(pc.id).CPU}"></span>
                                    <br>
                                    <span th:text="${'Ecran: '+ordinateur.get(pc.id).ecran}"></span>
                                    <br>
                                    <span th:text="${'Disque Dure: '+ordinateur.get(pc.id).disque_dur+'Go'}"></span>
                                    <br>
                                    <span th:text="${'RAM: '+ordinateur.get(pc.id).RAM+'Go'}"></span>
                                </div>
                            </td>
                            <td>
                                <button type="button" data-bs-html="true" class="ressource-detailes btn btn-sm  hide-arrow py-0 waves-effect waves-float waves-light" >
                                    <div class="icon-wrapper text-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tool"><path d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z"></path></svg>
                                    </div>
                                </button>
                                <div class="d-none details">
                                    <span th:text="${'Ordre: '+ pc.ordre.displayValue}"></span>
                                    <br>
                                    <span th:text="${'Date d apparition: '+ pc.dateApparition}"></span>
                                    <br>
                                    <span th:text="${'Frequence: '+pc.frequence}"></span>
                                    <br>
                                    <span th:text="${'Explication: '+pc.explication}"></span>
                                    <br>
                                    <span th:text="${'Constat: '+pc.constat}"></span>
                                </div>
                            </td>
                            <td>
                                <span th:if="${grantie.get(pc.id).equals('expiré')}" class="badge rounded-pill bg-danger me-1" th:text="${grantie.get(pc.id)}"></span>
                                <span th:if="${!grantie.get(pc.id).equals('expiré') || pc.etat.equals('attente du garrantie')}" class="badge rounded-pill bg-success me-1" th:text="${grantie.get(pc.id)}"></span>
                            </td>
                            <td>
                                <div  class="dropdown">
                                    <button type="button" class="signaler-panne btn btn-sm  hide-arrow py-0 waves-effect waves-float waves-light"
                                            th:id="${pc.id}" ress-type="pc" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEnd" aria-controls="offcanvasEnd" >
                                        <div class="icon-wrapper text-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                        </div>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr th:each="imp:${Imps}">
                            <td>Imprimente</td>
                            <td>
                                <button type="button" data-bs-html="true" class="ressource-detailes btn btn-sm  hide-arrow py-0 waves-effect waves-float waves-light" >
                                    <div class="icon-wrapper text-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    </div>
                                </button>
                                <div class="d-none details">
                                    <span th:text="${'gerant: '+imp.ressource.fournisseur.gerant}"></span>
                                    <br>
                                    <span th:text="${'societe: '+imp.ressource.fournisseur.societe}"></span>
                                    <br>
                                    <span th:text="${'lieu: '+imp.ressource.fournisseur.lieu}"></span>
                                    <br>
                                    <span th:text="${'email: '+imp.ressource.fournisseur.compte.email}"></span>
                                    <br>
                                    <span th:text="${'tel: '+imp.ressource.fournisseur.tele}"></span>
                                </div>
                            </td>
                            <td>
                                <button type="button" data-bs-html="true" class="ressource-detailes btn btn-sm  hide-arrow py-0 waves-effect waves-float waves-light" >
                                    <div class="icon-wrapper text-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    </div>
                                </button>
                                <div class="d-none details">
                                    <span th:text="${'CIN: '+imp.membre_departement.cin}"></span>
                                    <br>
                                    <span th:text="${'nom: '+imp.membre_departement.nom}"></span>
                                    <br>
                                    <span th:text="${'prenom: '+imp.membre_departement.prenom}"></span>
                                    <br>
                                    <span th:text="${'email: '+imp.membre_departement.compte.email}"></span>
                                </div>
                            </td>
                            <td>
                                <button type="button" data-bs-html="true" class="ressource-detailes btn btn-sm  hide-arrow py-0 waves-effect waves-float waves-light" >
                                    <div class="icon-wrapper text-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                                    </div>
                                </button>
                                <div class="d-none details">
                                    <span th:text="${'Marque: '+ imprimente.get(imp.id).marque}"></span>
                                    <br>
                                    <span th:text="${'Resolution: '+ imprimente.get(imp.id).resolution}"></span>
                                    <br>
                                    <span th:text="${'Vitesse: '+imprimente.get(imp.id).vitesse}"></span>
                                </div>
                            </td>
                            <td>
                                <button type="button" data-bs-html="true" class="ressource-detailes btn btn-sm  hide-arrow py-0 waves-effect waves-float waves-light" >
                                    <div class="icon-wrapper text-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tool"><path d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z"></path></svg>
                                    </div>
                                </button>
                                <div class="d-none details">
                                    <span th:text="${'Ordre: '+ imp.ordre.displayValue}"></span>
                                    <br>
                                    <span th:text="${'Date d apparition: '+ imp.dateApparition}"></span>
                                    <br>
                                    <span th:text="${'Frequence: '+imp.frequence}"></span>
                                    <br>
                                    <span th:text="${'Explication: '+imp.explication}"></span>
                                    <br>
                                    <span th:text="${'Constat: '+imp.constat}"></span>
                                </div>
                            </td>
                            <td>
                                <span th:if="${grantie.get(imp.id).equals('expiré')}" class="badge rounded-pill bg-danger me-1" th:text="${grantie.get(imp.id)}"></span>
                                <span th:if="${!grantie.get(imp.id).equals('expiré') || imp.etat.equals('attente du garrantie')}" class="badge rounded-pill bg-success me-1" th:text="${grantie.get(imp.id)}"></span>
                            </td>
                            <td>
                                <div  class="dropdown">
                                    <button type="button" class="signaler-panne btn btn-sm  hide-arrow py-0 waves-effect waves-float waves-light"
                                            th:id="${imp.id}"  ress-type="pc" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEnd" aria-controls="offcanvasEnd" >
                                        <div class="icon-wrapper text-danger" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                        </div>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="offcanvas-end-example">
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEnd" aria-labelledby="offcanvasEndLabel" style="visibility: hidden;" aria-hidden="true">
                        <form class="add-new-record modal-content pt-0">
                            <input type="hidden" name="id" id="id_panne">
                            <div class="offcanvas-header">
                                <h5 id="offcanvasEndLabel" class="modal-title">decision à faire</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="modal-body flex-grow-1">

                                <div class="mb-1 mt-5">
                                    <label class="form-label" for="frequence">decision</label>
                                    <select class="form-select" name="decision" id="frequence">
                                        <option selected>choisir une decision</option>
                                        <option value="reparer">reparer</option>
                                        <option value="changer">changer</option>
                                        <!---
                                        <option value="envoyer">envoyer le constat au fournisseur</option>
                                        -->
                                    </select>

                                </div>
                                <button type="submit" class="btn btn-primary data-submit me-1 waves-effect waves-float waves-light">Submit</button>
                                <button type="reset" class="btn btn-outline-secondary waves-effect" data-bs-dismiss="offcanvas">Cancel</button>
                            </div>
                        </form>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- END: Content-->
    <!-- START MODAL-->
    <!-- END MODAL-->
    <!-- BEGIN: Page JS-->
    <div layout:fragment="pageJS">
        <!-- BEGIN: Page Vendor JS-->
        <script th:src="@{/app-assets/vendors/js/ui/jquery.sticky.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/responsive.bootstrap5.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/jszip.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/pdfmake.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/vfs_fonts.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/buttons.html5.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/buttons.print.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js}"></script>
        <!-- END: Page Vendor JS-->
        <script th:src="@{/app-assets/js/scripts/extensions/ext-component-toastr.js}"></script>
        <script th:src="@{/app-assets/js/scripts/tables/table-datatables-basic.js}"></script>
        <script th:src="@{/app-assets/js/scripts/components/components-tooltips.js}"></script>
        <!-- BEGIN: Page JS-->
        <script th:src="@{/assets/js/faireDecision.js}"></script>

        <!-- END: Page JS-->

    </div>
    <!-- END: Page JS-->

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }

        })
    </script>
</body>
<!-- END: Body-->

</html>