<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}"
>
<head>
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css}">
    <!-- END: Vendor CSS-->
</head>
<body class="horizontal-layout horizontal-menu  navbar-floating footer-static  " data-open="hover" data-menu="horizontal-menu" data-col="">






    <!-- BEGIN: Content-->
    <div layout:fragment="content" class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Form Repeater</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">Forms</a>
                                    </li>
                                    <li class="breadcrumb-item active">Form Repeater
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
                    <div class="mb-1 breadcrumb-right">
                        <div class="dropdown">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="grid"></i></button>
                            <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="app-todo.html"><i class="me-1" data-feather="check-square"></i><span class="align-middle">Todo</span></a><a class="dropdown-item" href="app-chat.html"><i class="me-1" data-feather="message-square"></i><span class="align-middle">Chat</span></a><a class="dropdown-item" href="app-email.html"><i class="me-1" data-feather="mail"></i><span class="align-middle">Email</span></a><a class="dropdown-item" href="app-calendar.html"><i class="me-1" data-feather="calendar"></i><span class="align-middle">Calendar</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="table-responsive">
                    <table class="table besoin-table">
                        <thead>
                        <tr>
                            <th>Type de ressource</th>
                            <th>La marque</th>
                            <th>date d'affectation</th>
                            <th>details</th>
                            <th>etat</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ordinateur:${ordinateurs}">
                            <td>Ordinateur</td>
                            <td th:text="${ordinateur.marque}"></td>
                            <td th:text="${affectations.get(ordinateur.id).date}"></td>
                            <td>
                                <button type="button" data-bs-html="true" class="ressource-detailes btn btn-sm  hide-arrow py-0 waves-effect waves-float waves-light" >
                                    <div class="icon-wrapper text-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                                    </div>
                                </button>
                                <div class="d-none details">
                                    <span th:text="${'CPU: '+ordinateur.CPU}"></span>
                                    <br>
                                    <span th:text="${'Ecran: '+ordinateur.ecran}"></span>
                                    <br>
                                    <span th:text="${'Disque Dure: '+ordinateur.disque_dur+'Go'}"></span>
                                    <br>
                                    <span th:text="${'RAM: '+ordinateur.RAM+'Go'}"></span>
                                </div>
                            </td>
                            <td>
                                <span th:if="${etats.get(ordinateur.id).equals('pas de réclamation')}" class="badge rounded-pill bg-primary me-1" th:text="${etats.get(ordinateur.id)}"></span>
                                <span th:if="${etats.get(ordinateur.id).equals('en attente')}" class="badge rounded-pill bg-secondary me-1" th:text="${etats.get(ordinateur.id)}"></span>
                                <span th:if="${etats.get(ordinateur.id).equals('en tratement')}" class="badge rounded-pill bg-info me-1" th:text="${etats.get(ordinateur.id)}"></span>
                                <span th:if="${etats.get(ordinateur.id).equals('resoulue')}" class="badge rounded-pill bg-success me-1" th:text="${etats.get(ordinateur.id)}"></span>

                            </td>
                            <td>
                                <div  class="dropdown">
                                    <button type="button" class="signaler-panne btn btn-sm  hide-arrow py-0 waves-effect waves-float waves-light"
                                            th:id="${ordinateur.id}" ress-type="pc" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEnd" aria-controls="offcanvasEnd" >
                                        <div class="icon-wrapper text-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-octagon"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
                                        </div>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr th:each="imprimente:${imprimentes}">
                            <td>Imprimente</td>
                            <td th:text="${imprimente.marque}"></td>
                            <td th:text="${affectations.get(imprimente.id).date}"></td>
                            <td>
                                <button type="button" data-bs-html="true" class="ressource-detailes btn btn-sm  hide-arrow py-0 waves-effect waves-float waves-light" >
                                    <div class="icon-wrapper text-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                                    </div>
                                </button>
                                <div class="d-none details">
                                    <span th:text="${'Resoulution: '+imprimente.resolution}"></span>
                                    <br>
                                    <span th:text="${'vitess: '+imprimente.vitesse}"></span>
                                </div>
                            </td>
                            <td>
                                <span th:if="${etats.get(imprimente.id).equals('pas de réclamation')}" class="badge rounded-pill bg-primary me-1" th:text="${etats.get(imprimente.id)}"></span>
                                <span th:if="${etats.get(imprimente.id).equals('en attente')}" class="badge rounded-pill bg-secondary me-1" th:text="${etats.get(imprimente.id)}"></span>
                                <span th:if="${etats.get(imprimente.id).equals('en tratement')}" class="badge rounded-pill bg-info me-1" th:text="${etats.get(imprimente.id)}"></span>
                                <span th:if="${etats.get(imprimente.id).equals('resoulue')}" class="badge rounded-pill bg-success me-1" th:text="${etats.get(imprimente.id)}"></span>
                            </td>
                            <td>
                                <div  class="dropdown">
                                    <button type="button" class="signaler-panne btn btn-sm  hide-arrow py-0 waves-effect waves-float waves-light"
                                            th:id="${imprimente.id}" ress-type="imp" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEnd" aria-controls="offcanvasEnd" >
                                        <div class="icon-wrapper text-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-octagon"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
                                        </div>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="offcanvas-end-example">
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEnd" aria-labelledby="offcanvasEndLabel" style="visibility: hidden;" aria-hidden="true">
                        <form class="add-new-record modal-content pt-0">
                            <input type="hidden" name="id_ressource" id="id_ressource">
                            <div class="offcanvas-header">
                                <h5 id="offcanvasEndLabel" class="modal-title">signaler une panne</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="modal-body flex-grow-1">
                                <div class="mb-1 panne-order-div">
                                    <label class="form-label" for="panne-ordre">Ordre de Panne</label>
                                    <select class="form-select" name="ordre" id="panne-ordre">
                                        <option selected>selectioner l'ordre</option>
                                        <option th:each="order : ${T(com.example.projectge.models.EOrdre).values()}"
                                                th:value="${order}" th:text="${order.displayValue}"></option>
                                    </select>
                                </div>
                                <div class="mb-1">
                                    <label class="form-label" for="basic-icon-default-date">Date d'apparition</label>
                                    <input type="text" name="dateApparition" class="form-control dt-date flatpickr-input" id="basic-icon-default-date" placeholder="MM/DD/YYYY" aria-label="MM/DD/YYYY" readonly="readonly">
                                </div>
                                <div class="mb-1">
                                    <label class="form-label" for="frequence">Frequence</label>
                                    <select class="form-select" name="frequence" id="frequence">
                                        <option selected>selectioner le frequence</option>
                                        <option th:each="frequence : ${T(com.example.projectge.models.EFrequance).values()}"
                                                th:value="${frequence}" th:text="${frequence.displayValue}"></option>
                                    </select>
                                </div>
                                <div class="mb-1">
                                    <label class="form-label" for="explication">Explication</label>
                                    <textarea class="form-control" name="explication" id="explication" rows="3" placeholder="explication"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary data-submit me-1 waves-effect waves-float waves-light">Submit</button>
                                <button type="reset" class="btn btn-outline-secondary waves-effect" data-bs-dismiss="offcanvas">Cancel</button>
                            </div>
                        </form>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- END: Content-->
    <!-- START MODAL-->
    <!-- END MODAL-->
    <!-- BEGIN: Page JS-->
    <div layout:fragment="pageJS">
        <!-- BEGIN: Page Vendor JS-->
        <script th:src="@{/app-assets/vendors/js/ui/jquery.sticky.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/responsive.bootstrap5.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/jszip.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/pdfmake.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/vfs_fonts.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/buttons.html5.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/buttons.print.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js}"></script>
        <!-- END: Page Vendor JS-->
        <script th:src="@{/app-assets/js/scripts/extensions/ext-component-toastr.js}"></script>
        <script th:src="@{/app-assets/js/scripts/tables/table-datatables-basic.js}"></script>
        <script th:src="@{/app-assets/js/scripts/components/components-tooltips.js}"></script>
        <!-- BEGIN: Page JS-->
        <script th:src="@{/assets/js/signalerPanne.js}"></script>

        <!-- END: Page JS-->

    </div>
    <!-- END: Page JS-->

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }

        })
    </script>
</body>
<!-- END: Body-->

</html>