<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}"
>
<head>
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css}">
    <!-- END: Vendor CSS-->
</head>
<body class="horizontal-layout horizontal-menu  navbar-floating footer-static  " data-open="hover" data-menu="horizontal-menu" data-col="">






    <!-- BEGIN: Content-->
    <div layout:fragment="content" class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Form Repeater</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">Forms</a>
                                    </li>
                                    <li class="breadcrumb-item active">Form Repeater
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
                    <div class="mb-1 breadcrumb-right">
                        <div class="dropdown">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="grid"></i></button>
                            <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="app-todo.html"><i class="me-1" data-feather="check-square"></i><span class="align-middle">Todo</span></a><a class="dropdown-item" href="app-chat.html"><i class="me-1" data-feather="message-square"></i><span class="align-middle">Chat</span></a><a class="dropdown-item" href="app-email.html"><i class="me-1" data-feather="mail"></i><span class="align-middle">Email</span></a><a class="dropdown-item" href="app-calendar.html"><i class="me-1" data-feather="calendar"></i><span class="align-middle">Calendar</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="table-responsive">
                    <div class="card-header border-bottom p-1">
                        <div class="dt-action-buttons text-end">
                            <div class="dt-buttons d-inline-flex">
                                <button class="btn btn-primary" tabindex="0"  type="button" >
                                    <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus me-50 font-small-4"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        Envoyer La demande</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <table class="table besoin-table">
                        <thead>
                        <tr>
                            <th>CIN</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>
                            <th>Post</th>
                            <th>etat</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="membre:${membres}">
                            <td th:text="${membre.cin}"></td>
                            <td th:text="${membre.nom}"></td>
                            <td th:text="${membre.prenom}"></td>
                            <td th:text="${membre.compte.email}"></td>
                            <td th:text="${post.get(membre.cin)}"></td>
                            <td>
                                <span th:if="${etat.get(membre.cin)}" class="badge rounded-pill badge-light-success me-1">declaré</span>
                                <span th:if="${!etat.get(membre.cin)}" class="badge rounded-pill badge-light-danger me-1">non specifié</span>
                            </td>
                            <td>
                                <div th:if="${etat.get(membre.cin)}" class="dropdown">
                                    <button type="button" class="btn btn-sm dropdown-toggle hide-arrow py-0 waves-effect waves-float waves-light" data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" style="">
                                        <a class="edit-besoin-modal-button dropdown-item" href="#" th:id="${membre.id}" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 me-50"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                                            <span>Edit</span>
                                        </a>
                                        <a class="confirm-text dropdown-item" th:id="${membre.id}" href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash me-50"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                                            <span>Delete</span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="fullscreen-modal">
                    <!-- Modal -->
                    <div class="modal fade" id="fullscreenModal" tabindex="-1" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-fullscreen" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalFullTitle">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form id="aff-moi" besoin-manager="true" th:action="@{addPatient2}" method="post" class="invoice-repeater ">
                                    <div class="modal-body" id="update-besoin-modal-body">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-label-secondary waves-effect waves-float waves-light" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success waves-effect waves-float waves-light">Save changes</button>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END: Content-->
    <!-- START MODAL-->
    <!-- END MODAL-->
    <!-- BEGIN: Page JS-->
    <div layout:fragment="pageJS">
        <!-- BEGIN: Page Vendor JS-->
        <script th:src="@{/app-assets/vendors/js/ui/jquery.sticky.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/responsive.bootstrap5.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/jszip.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/pdfmake.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/vfs_fonts.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/buttons.html5.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/buttons.print.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js}"></script>
        <!-- END: Page Vendor JS-->
        <script th:src="@{/app-assets/js/scripts/extensions/ext-component-toastr.js}"></script>
        <script th:src="@{/app-assets/js/scripts/forms/form-repeater.js}"></script>
        <script th:src="@{/assets/js/formRepeater.js}"></script>
        <script th:src="@{/assets/js/addMemBesoinHandle.js}"></script>
        <script th:src="@{/app-assets/js/scripts/tables/table-datatables-basic.js}"></script>
        <!-- BEGIN: Page JS-->

        <!-- END: Page JS-->

    </div>
    <!-- END: Page JS-->

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }

        })
    </script>
</body>
<!-- END: Body-->

</html>