<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}"
>
<head>
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css}">
    <!-- END: Vendor CSS-->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">$(document).ready(function (){
        $(".dataImprimente").hide();
        $(".dataOrdinateur").hide();
        $(".ImprimenteInput").attr('disabled',true);
        $(".OrdinateurInput").attr('disabled',true);
        $('#default-select').on('change',function() {
                if( $(this).val() === 'Ordinateur' )
                {
                    $(".dataOrdinateur").show();
                    $(".dataImprimente").hide();
                    $(".ImprimenteInput").attr('disabled',true);
                    $(".OrdinateurInput").attr('disabled',false);

                }
                else  if( $(this).val() === 'Imprimente' ){
                    $(".dataImprimente").show();
                    $(".dataOrdinateur").hide();
                    $(".OrdinateurInput").attr('disabled',true);
                    $(".ImprimenteInput").attr('disabled',false);
                }
                else {
                    $(".dataImprimente").hide();
                    $(".dataOrdinateur").hide();
                    $(".ImprimenteInput").attr('disabled',true);
                    $(".OrdinateurInput").attr('disabled',true);
                }
            }
        );

    });
    </script>
</head>
<body class="horizontal-layout horizontal-menu  navbar-floating footer-static  " data-open="hover" data-menu="horizontal-menu" data-col="">






<!-- BEGIN: Content-->
<div layout:fragment="content" class="app-content content ">
    <div class="app-content content ">
        <div class="row">
            <div class="col-md-6 col-12 ">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Modifier Affectation</h4>
                    </div>
                    <div class="card-body">
                        <form class="form form-horizontal" th:action="@{/modifieraffectation}" method="POST">
                            <input  name="affId" type="hidden" th:each="af:${aff}" th:if="${af.id==id}" th:value="${af.id} ">
                            <input  name="resId" type="hidden" th:each="af:${aff}" th:if="${af.id==id}" th:value="${posts.get(af.id)[4]} ">
                            <div class="col-12 ">
                                <label class="form-label" for="default-select-CIN">Code Ressource</label>

                                <div class="mb-1">
                                    <select th:name="id_R"  th:action="@{/index}" class="select2 form-select" id="default-select-CIN" name="id_R"  >
                                       <!-- <option th:each="ressource:${ressources}"  th:value="${ressource.id}" th:text="${ressource.id}"></option> -->
                                        <option th:each="im:${impriment}"  th:value="${im.id}" th:text="${'Imprimente '+im.marque}"></option>
                                        <option th:each="ordi:${ordinateur}"  th:value="${ordi.id}" th:text="${'Ordinateur '+ordi.marque}"></option>
                                        <option th:each="af:${aff}" th:if="${af.id==id}" th:value="${posts.get(af.id)[4]} " th:text="${posts.get(af.id)[2]}" selected> </option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-12 ">
                                <label class="form-label" for="default-select-CIN">Membre</label>
                                <div class="mb-1">
                                    <select th:name="id_M"  th:action="@{/index}" class="select2 form-select" id="defaul-select-CIN" name="id_M"  >


                                        <option th:each="membre:${membres}"  th:value="${membre.id}" th:text="${membre.nom}"></option>
                                        <option th:each="af:${aff}" th:if="${af.id==id}" th:value=" ${posts.get(af.id)[6]}" th:text="${posts.get(af.id)[1]}" selected> </option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-12 ">
                                <label class="form-label" for="default-select-CIN">Departement</label>
                                <div class="mb-1">
                                    <select th:name="id_D"  th:action="@{/index}" class="select2 form-select" id="defau-select-CIN" name="id_D"  >
                                        <option th:each="dep:${departements}"  th:value="${dep.id_departement}" th:text="${dep.nom_departement}"></option>
                                        <option th:each="af:${aff}" th:if="${af.id==id}" th:value=" ${posts.get(af.id)[5]}" th:text="${posts.get(af.id)[0]}"selected> </option>

                                    </select>
                                </div>
                            </div>







                            <div class="col-sm-9 offset-sm-3">
                                <button  class="btn btn-primary me-1">Modifier</button>
                                <button type="reset" class="btn btn-outline-secondary">Vider </button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>







</div></div>
<!-- END: Content-->
<!-- START MODAL-->
<!-- END MODAL-->
<!-- BEGIN: Page JS-->
<div layout:fragment="pageJS">
    <!-- BEGIN: Page Vendor JS-->
    <script th:src="@{/app-assets/vendors/js/ui/jquery.sticky.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/responsive.bootstrap5.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/jszip.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/pdfmake.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/vfs_fonts.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/buttons.html5.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/buttons.print.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/excel/xlsx.full.min.js}"></script>
    <!-- END: Page Vendor JS-->
    <script th:src="@{/app-assets/js/scripts/extensions/ext-component-toastr.js}"></script>
    <script th:src="@{/app-assets/js/scripts/tables/table-datatables-basic.js}"></script>
    <script th:src="@{/app-assets/js/scripts/components/components-tooltips.js}"></script>
    <!-- BEGIN: Page JS-->
    <script th:src="@{/app-assets/js/scripts/extensions/ext-component-blockui.js}"></script>
    <script th:src="@{/assets/js/excel.js}"></script>

    <!-- END: Page JS-->

</div>
<!-- END: Page JS-->

<script>
    $(window).on('load', function() {
        if (feather) {
            feather.replace({
                width: 14,
                height: 14
            });
        }

    })
</script>
</body>
<!-- END: Body-->

</html>