<!DOCTYPE html>
<html  xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>patients</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
</head>
<body>
    <div class="col">
        <a class="btn btn-success" th:href="@{addForm}">add</a>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                list des patients
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>name</th>
                        <th>date</th>
                        <th>malade</th>
                    </tr>
                    <tr th:each="patient:${patients}">
                        <td th:text="${patient.id}"></td>
                        <td th:text="${patient.nom}"></td>
                        <td th:text="${patient.dateNaissance}"></td>
                        <td th:text="${patient.malade}"></td>
                        <td><a class="btn btn-primary" th:href="@{editForm(id=${patient.id})}">edit</a></td>
                        <td><a onclick="return confirm('sure ??')" class="btn btn-danger" th:href="@{delete(id=${patient.id})}">delete</a></td>
                    </tr>
                </table>
                <ul   class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a th:class="${status.index == currentPage? 'btn btn-primary':'btn'}"
                           th:href="@{patientsPages(page=${status.index},kw=${kw})}" th:text="${status.index}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</body>
</html>